@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: white;
    background: black;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.text-stroke {
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1.5px;
}

.text-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.text-outline {
    text-shadow:
        -2px 2px 0 #000,
        0 -2px 0 #000,
        2px -2px 0 #000,
        2px 0 0 #000,
        2px 2px 0 #000,
        0 2px 0 #000,
        -2px 2px 0 #000,
        -2px 0 0 #000;
}

.exp-bar-bg {
    background: linear-gradient(
        90deg,
        rgba(225, 185, 226, 1) 0%,
        rgba(205, 34, 157, 1) 100%
    );
}

.skill-bar-bg {
    background: linear-gradient(
        90deg,
        rgba(226, 225, 185, 1) 0%,
        rgba(205, 201, 34, 1) 100%
    );
}

.text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portal-effect {
    animation: warpEffect 3s forwards linear;
}

.scale-in {
    animation: scaleIn 0.2s forwards linear;
}

.pix {
    background-image: url('/nebipixelyay.png');
    width: 16rem;
    height: 26rem;
}

.pix-anim {
    animation:
        spriteWalk 1s steps(1) 1s 6 forwards,
        spriteIdle 1.8s steps(1) 7.5s 2 forwards,
        moveTo 5s 1.5s 1 linear forwards;
    top: 50%;
    left: 110%;
    transform: translate(-50%, -50%) scale(0.5);
}

@keyframes spriteIdle {
    0%,
    100% {
        background-position: 150rem 0;
    }
    50% {
        background-position: 98rem 0;
    }
}

@keyframes spriteWalk {
    0% {
        background-position: 114rem 0;
    }
    50% {
        background-position: 132rem 0;
    }
}

@keyframes moveTo {
    0% {
        left: 100%;
    }
    100% {
        left: 50%;
    }
}

@keyframes warpEffect {
    0% {
        transform: scale(1);
        rotate: 0deg;
        filter: blur(0);
    }
    50% {
        transform: scale(1.5);
        rotate: 180deg;
        filter: blur(20px);
    }

    100% {
        transform: scale(0);
        rotate: 360deg;
        filter: blur(30px);
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lb {
    0% {
        background: linear-gradient(
            90deg,
            rgba(226, 225, 185, 1) 0%,
            rgba(205, 201, 34, 1) 100%
        );
    }
    33% {
        background: linear-gradient(
            90deg,
            rgba(225, 185, 226, 1) 0%,
            rgba(205, 34, 157, 1) 100%
        );
    }

    66% {
        background: #c2f8fe;
    }

    100% {
        background: #e9f5d4;
    }
}
